<main>
    <h1>POLICY PRIVACY SITO WEB PER FORM CONTATTI</h1>
    <h2>Informativa all’interessato sul trattamento dei dati personali
    ai sensi dell’art. 13 del Regolamento (UE) 679/2016</h2>
    <p>Ai sensi dell’art. 13 del Regolamento (UE) 2016/679 del Parlamento europeo e del Consiglio del
    27 aprile 2016 sulla protezione dei dati (di seguito “Regolamento” oppure “GDPR”), in relazione al
    trattamento dei Suoi dati personali, lo scrivente studio dentistico (di seguito per brevità
    anche indicato come “Titolare”), la cui identità e i dati di contatto sono sotto indicati, 
    <br>
    La informa
    <br>
    di quanto segue.</p>
    <h3>1. Identità e dati di contatto del titolare del trattamento.</h3>
    <p>Titolare del trattamento ai sensi degli artt. 4 e 24 del Regolamento è lo Studio Dentistico Farjoud con sede in
    Corso San Maurizio 25, 10100, Torino (TO), tel.: 0110123456,  e-mail: nulla&#64;farj.it, PEC: nullapec&#64;pec.farj.it. Può
    rivolgersi al Titolare del trattamento scrivendo al citato indirizzo o inviando una e-mail al suindicato
    indirizzo di posta elettronica.</p>
    <h3>2. Finalità del trattamento cui sono destinati i dati e base giuridica del
    trattamento</h3>
    <p>I dati personali da Lei direttamente conferiti o comunque raccolti dallo scrivente Titolare saranno
    trattati in via esclusiva per: a. dar corso alle richieste dell'utente di informazioni e/o di contatto; b.
    finalità relative all’adempimento di un obbligo di legge al quale il Titolare è soggetto. La base giuridica
    del trattamento dei dati personali per le finalità di cui al punto a. è l’art. 6, paragrafo 1, lettera b. del
    Regolamento (“il trattamento è necessario all'esecuzione di un contratto di cui l'interessato è parte o
    all'esecuzione di misure precontrattuali adottate su richiesta dello stesso”). La base giuridica del
    trattamento dei dati personali per le finalità di cui al punto b. è l’adempimento di un obbligo legale a
    cui il Titolare è soggetto ai sensi dell’art. 6, paragrafo 1, lettera c., del GDPR (“il trattamento è
    necessario per adempiere un obbligo legale al quale è soggetto il titolare del trattamento”).</p>
    <h3>3. Modalità di trattamento dei dati.</h3>
    <p>Il trattamento dei Suoi dati personali potrà essere effettuato con l’ausilio di mezzi elettronici o
    comunque automatizzati, con modalità e procedure strettamente necessarie al perseguimento delle
    finalità sopra descritte. In relazione alle suindicate finalità, il trattamento dei Suoi dati personali
    avverrà mediante strumenti manuali, informatici e telematici per la mera realizzazione delle finalità
    stesse e, comunque, in modo da garantirne la sicurezza e la riservatezza. Il trattamento sarà
    effettuato con sistemi atti a memorizzare, gestire e trasmettere i dati stessi, con logiche strettamente
    correlate alle finalità stesse, sulla base dei dati in nostro possesso e con l’impegno da parte Sua di
    comunicarci tempestivamente eventuali correzioni, integrazioni e/o aggiornamenti.</p>
    <h3>4. Eventuali destinatari e le eventuali categorie di destinatari dei dati personali.</h3>
    <p>I dati personali possono essere comunicati per le finalità sopra specificate a soggetti che svolgono
    attività necessarie per l’erogazione dei servizi offerti dal Sito (a titolo esemplificativo, l’analisi del
    funzionamento del Sito medesimo) che tratteranno i dati in qualità di responsabili (art. 28 del
    Regolamento) e/o in qualità di autorizzati che agiscono sotto l’autorità del Titolare e del Responsabile
    (art. 29 del Regolamento) ovvero quali soggetti espressamente designati al trattamento dei dati nei
    termini previsti dal GDPR e dalla normativa nazionale di adeguamento alle disposizioni del GDPR (D.
    Lgs. n. 101/2018) come, per esempio, fornitori di servizi informatici e/o di archiviazione o di altri
    servizi di natura tecnico/organizzativa oppure dipendenti e collaboratori cui si avvale il Titolare.</p>
    <h3>5. Trasferimento dei dati personali a un paese terzo o a un’organizzazione
    internazionale.</h3>
    <p>Nessun dato personale dell'Utente verrà trasferito a un paese terzo al di fuori della Unione Europea
    o ad Organizzazioni Internazionali.</p>
    <h3>6. Periodo di conservazione dei dati personali.</h3>
    <p>I dati personali oggetto di trattamento saranno conservati in ottemperanza a quanto statuito dall’art.
    5 comma 1 lett. e. del Regolamento in una forma che consenta l’identificazione degli interessati per
    un arco di tempo non superiore al conseguimento delle finalità cui al punto 2 per le quali i dati
    personali sono trattati o per il tempo strettamente necessario all'adempimento di obblighi di legge.
    Al termine del periodo di conservazione, i dati da Lei conferiti saranno cancellati, ovvero resi anonimi.</p>
    <h3>7. Diritti dell’interessato.</h3>
    <p>Ai sensi degli artt. 15 e ss. del Regolamento, l’interessato ha il diritto di chiedere al Titolare del
    trattamento:
    - l’accesso ai propri dati personali;
    - la rettifica o la cancellazione degli stessi o la limitazione del trattamento che lo riguardano;
    - l’opposizione al trattamento;
    - la portabilità dei dati nei termini di cui all’art. 20 cit.;
    - qualora il trattamento sia basato sull'articolo 6, paragrafo 1, lettera a., oppure sull'articolo
    9, paragrafo 2, lettera a., cit. la revoca del consenso in qualsiasi momento senza pregiudicare
    la liceità del trattamento basata sul consenso prestato prima della revoca.
    Fatto salvo ogni altro ricorso amministrativo o giurisdizionale, l'interessato che ritenga che il
    trattamento che lo riguarda violi il GDPR ha il diritto di proporre reclamo a un’autorità di controllo,
    segnatamente nello Stato membro in cui risiede abitualmente, lavora oppure del luogo ove si è
    verificata la presunta violazione ai sensi dell’art. 77 cit. (l’autorità di controllo italiana è il Garante
    per la protezione dei dati personali). Per esercitare i diritti di cui sopra l’interessato potrà rivolgersi
    al Titolare ai recapiti indicati al punto 1 della presente informativa.</p>
    <h3>8. Se la comunicazione di dati personali è un obbligo legale o contrattuale oppure un
    requisito necessario per la conclusione di un contratto, e se l'interessato ha l'obbligo di
    fornire i dati personali nonché le possibili conseguenze della mancata comunicazione di
    tali dati.</h3>
    <p>La comunicazione dei Suoi dati è obbligatoria per poter procedere a dare riscontro alla Sua richiesta
    di informazioni e/o di contatto pervenute al Titolare. La mancata comunicazione dei dati personali
    determinerà l’impossibilità per il Titolare di procedere al riscontro alla Sua richiesta di informazioni
    e/o di contatto.</p>
    <h3>9. Esistenza di un processo decisionale automatizzato, compresa la profilazione.</h3>
    <p>Ai sensi dell'art. 13, paragrafo 2, lettera f. del GDPR, La informiamo che i dati personali raccolti non
    saranno oggetto di alcun processo decisionale automatizzato, compresa la profilazione di cui all’art.
    22, paragrafi 1 e 4 del Regolamento.</p>
    <h3>10. Trattamento dei dati personali per una finalità diversa da quella per cui essi
    sono stati raccolti.</h3>
    <p>Qualora il Titolare del trattamento intenda trattare ulteriormente i dati personali per una finalità
    diversa da quella per cui essi sono stati raccolti, prima di tale ulteriore trattamento, fornirà
    all’interessato informazioni in merito a tale diversa finalità e ogni ulteriore informazione pertinente di
    cui all’art. 13, paragrafo 2 del Regolamento.</p>
    <h3>11. Aggiornamenti</h3>
    <p>La presente privacy policy può subire modifiche e/o integrazioni a seguito di eventuali successive
    modifiche e/o integrazioni normative, all’aggiornamento o erogazione di nuovi servizi ovvero ad
    intervenute innovazioni tecnologiche.</p>
</main>
<button mat-flat-button class="back-button" (click)="backClicked()">Torna indietro</button>